<!--"""last commit: 071819 04:49 am""" -->
{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic ">
                <img id='center-img' src="{% static 'YelpGetter/images/img-robot.png' %}" alt="IMG">
            </div>
   
            <div class="login100-pic ">
                <form class="login100-form validate-form"  method='post'>
                    <span class="login100-form-title">Search Yelp</span>
                    {% csrf_token %}
                    
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        {{ form.location }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fa fa-map-o" aria-hidden="true"></i></span>
                    </div>
                 <div class="wrap-input100 validate-input" data-validate = "Password is required">
                        {{ form.term }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100"><i class="fa fa-building" aria-hidden="true"></i></span>
                    </div>
                    
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" id='scrape' type="submit" value="Submit">SCRAPE</button>
                    </div>

                  
                </form>
                <div class='separator'></div>
                <form action="{% url 'upload_csv' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group" >
                        <div class="col-md-8">
                        <input type="file" name="csv_file" id="csv_file" class="Fileinput"  crequired="True" class="form-control">
                        </div>
                    </div>
                    
                    <div class="form-group">
                         <button class="btn btn-primary login100-form-btn"> <span class="glyphicon glyphicon-upload" style="margin-right:5px;"></span>Upload </button>
                    </div>
                </form>
                
                
            </div>
            <div class="text-center p-t-136" style='width:100%'>
                    <a class="txt2" href="#">
                    mladenmilosavljevic.tech<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
        </div>

    </div>
</div>



<!--===============================================================================================-->





<script>
        document.getElementById("scrape").addEventListener("click", loader());
        function loader() {
                            var x = document.getElementById("loader");
                            if (x.style.display === "none")
                            {
                              x.style.display = "block";
                            }
                            else if (x.style.display === "block")
                            {
                              x.style.display = "none";
                            }
                            console.log('loader clicked')
                            console.log(x.style.display)
                            }
</script>


{% endblock %}

