/*"""last commit: 071819 04:49 am""" */
.zindeks {
    position: absolute !important;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    
}

#stitle {
    color:#1a1f1b;
    margin-top: 20px;
    margin-bottom: 20px;
}

#loader {
    border: 16px solid #E6E6E5; 
    margin:0 auto;
    border-top: 16px solid #57b846;
    border-bottom: 16px solid #57b846;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }