<!-- templates/registration/login.html -->
<!--"""last commit: 071819 04:49 am""" -->
{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic ">
                <img id='center-img' src="{% static 'YelpGetter/images/img-01.png' %}" alt="IMG">
            </div>
            <div class="login100-pic ">

            <h1>Welcome.</h1>    
            <h3> Please Login To continue. </h3>
            <div class='separator'></div>
                
                <form class="login100-form validate-form"  method='post' action="login"> {% csrf_token %}
                    
                   
                    <form class="login100-form validate-form" method="post" action="login">
                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <input type="text" name="username" autofocus="" required="" id="id_username" class='input100'>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                     <div class="wrap-input100 validate-input" data-validate="Password is required">
                            <input type="password" name="password" required="" id="id_password" class='input100'>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                        
                        <div class="container-login100-form-btn">
                            <button class="login100-form-btn" id="scrape" type="submit" value="Submit">LOGIN</button>
                        </div>
                  </form>
 
            
        </div>
        <div class="text-center p-t-136" style='width:100%'>
                <a class="txt2" href="#">
                mladenmilosavljevic.tech<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                </a>
            </div>
    </div>

    </div>
</div>


<!--===============================================================================================-->





<script>
        document.getElementById("scrape").addEventListener("click", loader());
        function loader() {
                            var x = document.getElementById("loader");
                            if (x.style.display === "none")
                            {
                              x.style.display = "block";
                            }
                            else if (x.style.display === "block")
                            {
                              x.style.display = "none";
                            }
                            console.log('loader clicked')
                            console.log(x.style.display)
                            }
</script>


{% endblock %}


