{% load static %}
<!DOCTYPE html>
<!--"""last commit: 07302019 08:30 pm""" -->
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<meta http-equiv="Cache-control" content="no-cache">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!--===============================================================================================-->
<link rel="icon" type="image/png" href="{% static 'YelpGetter/images/icons/favicon.ico' %}"/>


<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{%  static 'YelpGetter/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="{% static 'YelpGetter/css/util.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'YelpGetter/css/main.css' %}">

<!--===============================================================================================-->
<link rel="stylesheet" href="{% static 'YelpGetter/style.css' %} ">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block css %}

{% endblock %}
</head>



<title>Jeffs Yelp Scraper </title>

</head>

<body>
    
    
<div class='container'>

<nav class="navbar navbar-expand-lg navbar-light bg-light zindeks">
    <a class="navbar-brand" href="/">YelpScraper</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
     
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'search' %}">SEARCH</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link" href="{% url 'history' %}">HISTORY</a>
        </li>

             
        <li class="nav-item">
            <a class="nav-link" href="{% url 'status' %}">STATUS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'master' %}">MASTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'states' %}">STATES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cities' %}">CITIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'terms' %}">TERMS</a>
          </li>
      </ul>

</nav>    
</div>

{% block body %}
{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>